<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Teacher</title>
</head>
<body>

<h2>Создание нового преподователя</h2>

<form action="/teacher/create" method="post">

  <input type="text" name="name" placeholder="Имя преподователя" required>
  <input type="email" name="email" placeholder="Почта преподователя" required>
  <input type="text" name="department" placeholder="Факультет" required>

  <button type="submit">Создать преподователя</button>

</form>

</body>
</html>