<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список преподавателей</title>
  <link rel="stylesheet" href="/CSS/list-pages.css">
</head>
<body>
<div class="top-menu">
  <a href="/">Назад</a>
  <a href="/teacher/create">Создать преподавателя</a>
</div>
<div class="content">
  <h2>Список преподавателей</h2>
  <ul>
    <li th:each="teacher : ${teachers}">
      <span th:text="${teacher.getName() + ' - ' + teacher.getEmail() + ' - ' + teacher.getDepartment()}"></span>
      <form th:action="@{/teacher/delete/{id}(id=${teacher.getId()})}" method="post" class="delete-form">
        <button type="submit" class="delete-btn">Удалить</button>
      </form>
    </li>
  </ul>
</div>
</body>
</html>